<html>
  <head>
    <title>Patty's Website</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="utf-8" http-equiv="encoding"/>
    <!-- add icon link -->
    <link rel = "icon" href = "../static/img/patty_avatar.png" type = "image/x-icon">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"/>

    <!--Import Font Awesome Icon Font-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>

    <!--Main css-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <!--Import materialize.css-->
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css"/>


    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
<!--    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css"/>-->
      <link rel="stylesheet" type="text/css" href="../static/css/form.css"/>
  </head>

  <body>
      <!--NavBar-->
      <div class="container2 highlightTextIn" style="position: absolute; top: 10px; right: 10px;">
          <a href="./index">HOME</a>
          <a href="#">ABOUT</a>
          <a href="./projectFrame">PROJECTS</a>
        </div>
      <!--NavBar end-->
      <!--About-->
        <section class="section about-section gray-bg" id="about" style="margin-top: 50px;">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 class="dark-color">About Me</h3>
                            <h6 class="theme-color lead">一名熱愛跳舞 &amp; 研究 &amp; 學習新事物的學生</h6>
                            <p>從小在<mark>充滿愛</mark>的家庭長大，媽媽總是支持任何我想做的是，高中參加資工營後對它一見鍾情，決定要成為一名工程師。大學除了努力學習，也參加了我嚮往已久的熱舞社，在舞蹈中我找到自信，我學會堅持。未來要當一名會跳舞的工程師。 </p>
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>Name</label>
                                        <p>林湘羚 (Patty)</p>
                                    </div>
                                    <div class="media">
                                        <label>Birthday</label>
                                        <p>14th Nov. 1999</p>
                                    </div>
                                    <div class="media">
                                        <label>Age</label>
                                        <p>21 Yr</p>
                                    </div>
                                    <div class="media">
                                        <label>Residence</label>
                                        <p>Taiwan</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>E-mail</label>
                                        <p>L224749391@gmail.com</p>
                                    </div>
                                    <div class="media">
                                        <label>College</label>
                                        <p>NTOU</p>
                                    </div>
                                    <div class="media">
                                        <label>Major</label>
                                        <p>Computer Science</p>
                                    </div>
                                    <div class="media">
                                        <label>City</label>
                                        <p>Miaoli</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-avatar">
                            <img src="../static/img/Patty.jpg" alt="error">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About end-->
      <!--chatbot widget -->
      <div class="widget">
        <div class="chat_header">
          <!--Add the name of the bot here -->
          <span class="chat_header_title">PattyBot</span>
          <span class="dropdown-trigger" href="#" data-target="dropdown1">
            <i class="material-icons"> more_vert </i>
          </span>

          <!-- Dropdown menu-->
          <ul id="dropdown1" class="dropdown-content" style="list-style-type: none; padding-left: 0px;">
            <li><a href="#" id="clear" style="color:rgba(255, 0, 0, 0.4);" onMouseOver="this.style.color='rgba(255, 0, 0, 0.6)'"
        onMouseOut="this.style.color='rgba(255, 0, 0, 0.4)'">Clear</a></li>
            <li><a href="#" id="restart" style="color:rgba(255, 0, 0, 0.4);" onMouseOver="this.style.color='rgba(255, 0, 0, 0.6)'"
        onMouseOut="this.style.color='rgba(255, 0, 0, 0.4)'">Restart</a></li>
            <li><a href="#" id="close" style="color:rgba(255, 0, 0, 0.4);" onMouseOver="this.style.color='rgba(255, 0, 0, 0.6)'"
        onMouseOut="this.style.color='rgba(255, 0, 0, 0.4)'">Close</a></li>
          </ul>
        </div>

        <!--Chatbot contents goes here -->
        <div class="chats" id="chats">
          <div class="clearfix"></div>
          <img class="botAvatar" src="../static/img/patty_avatar.png"/><span class="botMsg">可以問我名字、興趣、夢想、每天行程、請我說笑話...，但不要對我太嚴格，多一點耐心。❤️</span><div class="clearfix"></div>
        </div>

        <!--keypad for user to type the message -->
        <div class="keypad">
          <textarea
            id="userInput"
            placeholder="Type a message..."
            class="usrInput"
          ></textarea>
          <div id="sendButton">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <!--bot profile-->
      <div class="profile_div" id="profile_div">
        <img class="imgProfile" src="../static/img/patty_avatar.png" />
      </div>

      <!-- Bot pop-up intro -->
      <div class="tap-target" data-target="profile_div">
        <div class="tap-target-content">
          <h5 class="white-text">您好👋</h5>
          <p class="white-text">
              我可以幫您回答有關Patty的問題，和了解這個網站的功能。快來跟我聊聊！
<!--
            I can help you get started with Rasa and answer your technical
            questions.
-->
          </p>
        </div>
      </div>
      <div style="text-align: center; margin-top: 20px;">
          <a href="https://github.com/xxxPatty"><i class="fa fa-github" aria-hidden="true" style="color: black;"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100003220246443"><i class="fa fa-facebook" aria-hidden="true" style="color: black;"></i></a>
          <a href="https://www.instagram.com/a224749391/?hl=zh-tw"><i class="fa fa-instagram" aria-hidden="true" style="color: black;"></i></a>
          <a href="https://medium.com/@l224749391"><i class="fa fa-medium" aria-hidden="true" style="color: black;"></i></a>
          <div><p style="color: gray; font-size: 10px;">&copy; 2021 Patty</p></div>
      </div>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/materialize.min.js"></script>
    <script src="../static/js/lib/uuid.min.js"></script>
    <!--Main Script -->
    <script type="text/javascript" src="../static/js/script.js"></script>
    <!--Chart.js Script -->
    <script type="text/javascript" src="../static/js/lib/chart.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/showdown.min.js"></script>
    </body>
</html>

